.SideDrawer {
  width: 40px;
  width: 200px;
  height: 100vh;
  background-color: #2a2d34;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  transition: margin 0.5s;
}

.CloseDrawer {
  position: relative;
  left: -200px;
}
