.Bookmark {
  margin: 0 20px 15px 20px;
  background: white;
  padding: 15px;
  color: #2a364a;

  box-sizing: border-box;
  vertical-align: middle;
  float: left;
  width: 340.333px;
  padding: 0;
  border: 1px solid #2a364a;
}

@media (max-width: 500px) {
  .Bookmark {
    margin: 0 20px 15px 20px;
    background: white;
    padding: 37px;
    color: #2a364a;
    border-radius: 6px;
    box-sizing: border-box;
    vertical-align: middle;
    float: left;
    width: 200px;
  }
}
