.Header {
  width: 100%;
  height: 60px;
  background: #2a364a;
}

.Input {
  text-align: center;
}
.navItems {
  float: right;
}

.navItems li {
  text-decoration: none;
  display: inline;
  text-decoration-style: none;
  margin-left: 12px;
  margin-right: 10px;
}

.AddIcon {
  color: #fff;
  z-index: 100;
  font-size: 10px;
  padding: 0 20px;
  margin: 20px;
}

.AddIcon:hover {
  color: #7a30c2;
}

.navItems li a {
  text-decoration: none;
}

.Logo {
  float: left;
}

.Logo a {
  text-decoration: none;
  position: relative;
  top: 20px;
  left: 10px;
}

@media (max-width: 500px) {
  .navItems li {
    position: relative;
    top: -40px;
  }
}
