.Show {
  display: none;
}

.Dont {
  display: block;
}

.AddIcon {
  color: #3c1053;
  float: right;
  position: relative;
  top: 250px;
  right: 50px;
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3); */
  z-index: 100;
  font-size: 50px;
}

.AddIcon:hover {
  color: #7a30c2;
}

.Delete {
  visibility: hidden;
  cursor: pointer;
}

.Show {
  color: white;
  text-align: center;
  display: inline;
  padding: 10px;
  background-color: #6b9658;
  margin-left: 40%;
  border-radius: 2px;
}
