.BookmarkInput {
  display: block;
  margin: 58px 261px;
}

.Inputs {
  margin-bottom: 20px;
  font-size: 16px;
  width: 74%;
  margin-left: 100px;
  border: 1px solid #ccc;
  padding: 18px 35px;
  color: #000;
  transition: 0.5s linear;
  outline: none;
}

.Inputs:focus {
  border-color: #2a364a;
}

.ErrorInput {
  border: 1px solid rgb(196, 12, 12);
  margin-bottom: 20px;
  font-size: 16px;
  width: 74%;
  margin-left: 100px;
  padding: 18px 35px;
  color: #000;
  transition: 0.5s linear;
  outline: none;
}
.BtnCancel {
  text-decoration: none;
  float: right;
  border: 1px solid #2a364a;
  color: #2a364a;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 42px;
  padding: 10px 60px;
  font-weight: 400;
  position: relative;
  right: 200px;
  cursor: pointer;
}

.BtnSubmit {
  border: 1px solid #2a364a;
  text-decoration: none;
  float: left;
  border-style: solid;
  border-width: 1px;
  color: #2a364a;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 42px;
  position: relative;
  left: 200px;
  padding: 10px 60px;
  font-weight: 400;
  outline: none;
}

.BtnSubmit:hover,
.BtnCancel:hover {
  background: #2a364a;
  color: #ffffff;
}

.BtnValidity {
  cursor: not-allowed;
  border: 1px solid #2a364a;
  text-decoration: none;
  float: left;
  border-style: solid;
  border-width: 1px;
  color: #2a364a;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 42px;
  position: relative;
  left: 200px;
  padding: 10px 60px;
  font-weight: 400;
  outline: none;
}

.Container {
  height: 100%;
}

.ErrorMessage {
  color: #ff0000a3;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #2a364a;
}
@media (max-width: 500px) {
  .Container {
    width: 100%;
  }
  .BookmarkInput {
    width: 100%;
    margin: 0 auto;
  }
  .Inputs {
    margin-bottom: 20px;
    font-size: 16px;
    width: 80%;
    margin-left: 37px;
    padding-top: 10px;
    border: 1px solid #ccc;
    padding: 12px 8px;
    color: #000;
    transition: 0.5s linear;
    outline: none;
  }

  .ErrorInput {
    border: 1px solid rgb(196, 12, 12);
    margin-bottom: 20px;
    font-size: 16px;
    width: 80%;
    margin-left: 37px;
    padding-top: 10px;
    padding: 12px 8px;
    color: #000;
    transition: 0.5s linear;
    outline: none;
  }
  .BtnCancel {
    text-decoration: none;
    float: right;
    border: 1px solid #2a364a;
    color: #2a364a;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 42px;
    padding: 10px 60px;
    font-weight: 400;
    position: relative;
    right: 200px;
    cursor: point;
  }
  .ErrorMessage {
    color: rgba(255, 0, 0, 0.64);
    text-align: center;
    position: relative;
    font-size: 20px;
    top: 74px;
  }

  .title {
    display: block;
    font-size: 14px;
    padding: 21px 0;
  }
}
