.lds {
  display: inline-block;
  width: 164px;
  height: 164px;
  margin-top: 100px;
  margin-left: 599px;
}
.lds:after {
  content: " ";
  display: block;
  width: 146px;
  height: 146px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #c94b4b;
  border-color: #4b134f transparent #c94b4b transparent;
  animation: lds 1.2s linear infinite;
}
@keyframes lds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
